.vertical-container {
    display: flex;
    float: left;
    background-color: var(--background-navbar);
}

.nav-item {
    height: 4rem;
}

.nav-link {
    color: var(--text-content) !important;
    font-family: monospace;
    font-size: 1.2rem !important;
    text-transform: capitalize;
}

.nav-link:hover, .nav-link.active {
    color: var(--text-heading) !important;
}